<footer class="site-footer">
    <div class="footer-content">
        <p>
            Contact w/ me! | 
            <a href="{{ social_links.twitter }}" target="_blank">Twitter</a> .
            <a href="{{ social_links.github }}" target="_blank">GitHub</a> .
            <a href="{{ social_links.linkedin }}" target="_blank">LinkedIn</a>
        </p>
        <p>
            Hou deze website draaiende met support <3! | <a href="{{ social_links.kofi }}" target="_blank">Ko-fi</a>
        </p>
    </div>
</footer>
