<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Geboortedaghit | Wat stond op #1 in Nederland op..</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Op welke dag ben je geboren?</h1>
    <form method="post">
        <input type="date" name="birthdate" required>
        <button type="submit">Bekijk hit</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% include '_footer.html' %}
</body>
</html>
